
name: CI

on: [push, pull_request]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      - name: Restore
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Install Playwright Dependencies
        run: dotnet tool install --global Microsoft.Playwright.CLI && playwright install
      - name: Test API
        run: dotnet test ApiTests/ApiTests.csproj --no-build --logger trx
      - name: Test UI
        run: dotnet test UiTests/UiTests.csproj --no-build --logger trx || true
